<h1>Pokedex Home</h1>

All: <%= @all['count'] %>


<h2><%= @pokemon['name'].capitalize %></h2>

---
<img src=<%= @pokemon["sprites"]["front_default"]%>>
---
<img src=<%= @pokemon["sprites"]["other"]["official-artwork"]["front_default"]%>>

